[Unit]
Description=Emoji Helper
After=network-online.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
WorkingDirectory=/home/stocker/Emoji-Helper 
ExecStart=/home/stocker/Emoji-Helper/venv/bin/python3.9 /root/Emoji-Helper/bot.py
User=stocker
Restart=on-failure
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target